.walletContainer {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.walletBtn {
    height: 40px;
    background: #B635FF;
    border-radius: 12px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: SFProDisplay-Bold, SFProDisplay;
    font-weight: bold;
    color: #FFFFFF;
}


.icon {
    width: 20px;
    margin-right: 9px;
}

.btn-bg {
  height: 48px;
}

.image {
    object-fit: cover;
    width: 125;
    height: 36;
}

.walletAddress {
    color: white;
    text-align: right;
    padding: 0 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}