@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: local('SF Pro Display'), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff) format('woff')
}

@font-face {
  font-family: 'SF Pro Display 600';
  font-style: italic;
  font-weight: 600;
  src: local('SF Pro Display'), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYSEMIBOLDITALIC.woff) format('woff')
}

body {
  margin: 0;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background: #F2F2F2;
}


.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #333333;
  font-weight: bold;
  font-family: SFProDisplay-Bold, SFProDisplay;
}

.nav-link {
  margin-right: 20px;
}

.nav-link.active {
  color: unset;
  position: relative;
}

.nav-link.active::after {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 12px);
  ;
  width: 24px;
  height: 4px;
  background: #B635FF;
  border-radius: 2px;
  content: "";
}

.nga-navbar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.nga-navbar-logo {
  font-weight: 700;
}

.nga-navbar-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nga-logo {
  font-weight: 700;
}

.nga-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nga-footer {
  background-color: #212121;
  color: white;
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: yellow;
  text-decoration: underline;
}

.nga-footer .hint {
  background-color: #1976d2;
}

.nga-footer .hint:hover {
  opacity: 0.8;
}